
<body>
    <div class="container">
        <h3 >Messaging Chat</h3>
        <form [formGroup]="chatMediaFormGroup">
        <div class="messaging">
           
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="incoming_msg">
                           
                            <div class="received_msg" *ngFor="let p of chatMedias">
                                <div class="received_withd_msg">
                                    <!-- <P>{{p | json}}</P> -->
                                    <label>{{p.Sender }}</label>
                                    <p>{{p.Chat}}</p>
                                    <span class="time_date"> {{p.SendDateTime}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>hello?</p>
                                <span class="time_date"> 11:01 AM | June 9</span>
                            </div>
                        </div>
                        -->
                    </div>
                    <form [formGroup]="chatMessageFormGroup">
                    <div class="type_msg">
                        <div class="input_msg_write">
                                <textarea class="write_msg" rows="4" cols="50" formControlName="message" placeholder="Type a message"></textarea>
                            <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                     </form>
                    <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="file" class="write_msg" formControlName="media"  placeholder="Select Media" />
                                <button class="msg_send_btn" type="button" (click)="sendMedia()"><i class="fa fa-paper-plane-o"
                                        aria-hidden="true"></i></button>
                            </div>
                            
                        </div>
                </div>
        </div>
        </form>
    </div>
</body>